<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <style>
        .active{
            color: red;
        }
    </style>
</head>
<body>
<div id="app">
    <p>{{message}}</p>
    <p>{{reverseMessage}}</p>
</div>
<div id="app-2">
        <span v-bind:title="message" :class="classObject">
            112313123
        </span>
</div>
<div id="app-3">
    <p v-if="seen">看到了</p>
</div>
<div id="app4">
    <ol>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ol>
</div>
<div id="app5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
</div>
<div id="app6">
    <p>{{message}}</p>
    <input v-model="message">
</div>
<div id="app7">
    <ol>
        <todo-item
                v-for="item in list"
                v-bind:todo="item"
                v-bind:key="item.id"
        ></todo-item>
    </ol>
</div>

<div id="watch">
    <p>Ask a yes/no question:
        <input v-model="question">
    </p>
    <p>{{answer}}</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
    var watchVm = new Vue({
        el:"#watch",
        data:{
            question:'',
            answer: 'I cannot give you an answer until you ask a question!'
        },
        watch:{
            question:function(newQuestion, oldQuestion) {
                this.answer = "waiting for you stop typing...";
                this.debouncedGetAnswer();
            }
        },
        created:function(){
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500);
        },
        methods:{
            getAnswer:function() {
                if(this.question.indexOf("?")===-1) {
                    this.answer = "questions usually contain a question mark";
                    return;
                }
                this.answer = "thinking...";
                var vm = this;
                axios.get("https://yesno.wtf/api")
                    .then(function(response) {
                        vm.answer = _.capitalize(response.data.answer);
                    })
                    .catch(function(error){
                        vm.answer = "error:" + error;
                    });
            }
        }
    });

    var data = {
        message:"hello world!"
    }
    var app = new Vue({
        el:"#app",
        data: data,
        created:function(){
            console.log(this.message);
        },
        computed:{
            reverseMessage:function() {
                return this.message.split("").reverse().join("");
            }
        }
    });

    var app2 = new Vue({
        el:"#app-2",
        data:{
            message:new Date().toLocaleString(),
            isActive: true
        },
        computed: {
            classObject:function(){
                return {
                    active: this.isActive
                }
            }
        }
    });

    var app3 = new Vue({
        el:"#app-3",
        data:{
            seen: true
        }
    });

    var app4 = new Vue({
        el:"#app4",
        data:{
            todos:[
                {text:"1111"},
                {text:"22222"},
                {text:"33333"}
            ]
        }
    });

    var app5 = new Vue({
        el:"#app5",
        data:{
            message:"hello world!",
        },
        methods:{
            reverseMessage:function() {
                this.message = this.message.split("").reverse().join("");
            }
        }
    });

    var app6 = new Vue({
        el:"#app6",
        data:{
            message:"hello vue!"
        }
    });

    Vue.component("todo-item", {
        props:["todo"],
        template:'<li>{{todo.text}}</li>'
    });
    var app7 = new Vue({
        el:"#app7",
        data:{
            list:[
                {id:1, text:"aaaaa"},
                {id:2, text:"bbbbb"},
                {id:3, text:"ccccc"}
            ]
        }
    });
</script>
</body>
</html>