<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <style>
        .active{
            color: red;
        }
        .bar {
            color:blue;
        }
        .bigSize {
            font-size: 24px;
        }
    </style>
</head>
<body>
<div id="app">
    <p :style="styleObject">{{message}}</p>
    <p>{{reverseMessage}}</p>
</div>
<div id="app-2">
        <span v-bind:title="message" :class="classObject">
            112313123
        </span>
</div>
<div id="app-3">
    <p v-show="seen">看到了</p>
</div>
<div id="app4">
    <ol>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ol>
</div>
<div id="app5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
</div>
<div id="app6">
    <p>{{message}}</p>
    <input v-model="message">
</div>
<div id="app7">
    <ol>
        <todo-item
                v-for="item in list"
                v-bind:todo="item"
                v-bind:key="item.id"
                v-bind:class="{bigSize:isBigSize}"
        ></todo-item>
    </ol>
</div>

<div id="watch">
    <p>Ask a yes/no question:
        <input v-model="question">
    </p>
    <p>{{answer}}</p>
</div>

<div id="app9">
    <template v-if="ok">
        <label>username</label>
        <input placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" key="email-input">
    </template>
    <button @click="toggle">toggle</button>
</div>

<div id="app10">
    <ul>
        <li v-for="(item, index) in items" :key="item.id">
            {{parentMessage}} - {{index}} - {{item.message}}
        </li>
        <li v-for="(value, key, index) of object" :key="value.id">
            {{index}} . {{key}} : {{value}}
        </li>
        <li v-for="n in even(numbers)">{{n}}</li>
        <li v-for="n in 5">{{n}}</li>
    </ul>
</div>

<div id="todo-list">
    <form v-on:submit.prevent = "addNewTodo">
        <label for="new-todo">add a todo</label>
        <input v-model="newTodoText" id="new-todo" placeholder="...">
        <button>add</button>
    </form>
    <ul>
        <li
                is="todo-item1"
                v-for="(item,index) in todos"
                :key="item.id"
                :title="item.title"
                @remove="removeItem(index)"
        ></li>
    </ul>
</div>

<div id="app11">
    <input type="checkbox" id="jack" value="jack" v-model="checkNames">
    <label for="jack">jack</label>
    <p>ckecked names:{{checkNames}}</p>

    <select multiple v-model="selected" >
    <!--<option disabled  value="">请选择</option>-->
    <option>A</option>
    <option>B</option>
    <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span>
</div>

<div id="app12">
    <div :style="{fontSize:postFontSize+'em'}">
        <blog-post
            v-for="post in posts"
            :key="post.id"
            :post="post"
            @enlarge-text="enlargeFontSize"
        >slot?????</blog-post>
    </div>
    <input-com v-model="inputText"></input-com>
    <span>{{inputText}}</span>
</div>



<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>

    Vue.component("input-com", {
        props:['value'],
        template: `
            <input
                :value="value"
                @input="$emit('input', $event.target.value)"
            >
        `
    });

    Vue.component("blog-post", {
        props:["post"],
        template: `
            <div>
                <h3 v-html="post.title"></h3>
                <slot></slot>
                <button @click="$emit('enlarge-text', 0.1)">enlarge text</button>
            </div>
        `
    });
    new Vue({
        el: '#app12',
        data: {
            inputText:"",
            postFontSize: 1,
            posts: [
                { id: 1, title: 'My journey with Vue' },
                { id: 2, title: 'Blogging with Vue' },
                { id: 3, title: 'Why Vue is so fun' }
            ]
        },
        methods:{
            enlargeFontSize: function(num) {
                this.postFontSize += num;
            }
        }
    })

    var app11 = new Vue({
        el:"#app11",
        data:{
            checkNames:[],
            selected:[]
        }
    });

    Vue.component("todo-item1", {
        template:
        "<li>{{title}}" +
            "<button @click='$emit(\"remove\")'>remove</button>" +
        "</li>",
        props:['title']
    });
    var todoList = new Vue({
        el: "#todo-list",
        data:{
            newTodoText:"",
            todos:[
                {id:1, title:"do 111"},
                {id:2, title:"do 222"},
                {id:3, title:"do 333"}
            ],
            nextTodoId: 4
        },
        methods: {
            addNewTodo:function() {
                this.todos.push({
                    id:this.nextTodoId++,
                    title: this.newTodoText
                });
                this.newTodoText = "";
            },
            removeItem:function(index) {
                this.todos.splice(index,1);
            }
        }
    });

    var app10 = new Vue({
        el:"#app10",
        data: {
            parentMessage: "parent",
            items: [
                {message: "1111"},
                {message: "2222"}
            ],
            object: {
                a:1,
                b:2,
                c:3
            },
            numbers: [1,2,3,4,5,6,7]
        },
        methods: {
            even:function(nums) {
                return nums.filter(function(number) {
                    return number % 2 === 0;
                });
            }
        }
    });

    var app9 = new Vue({
        el:"#app9",
        data:{
            ok: false
        },
        methods:{
            toggle:function() {
                this.ok = !this.ok;
            }
        }
    });

    var watchVm = new Vue({
        el:"#watch",
        data:{
            question:'',
            answer: 'I cannot give you an answer until you ask a question!'
        },
        watch:{
            question:function(newQuestion, oldQuestion) {
                this.answer = "waiting for you stop typing...";
                this.debouncedGetAnswer();
            }
        },
        created:function(){
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500);
        },
        methods:{
            getAnswer:function() {
                if(this.question.indexOf("?")===-1) {
                    this.answer = "questions usually contain a question mark";
                    return;
                }
                this.answer = "thinking...";
                var vm = this;
                axios.get("https://yesno.wtf/api")
                    .then(function(response) {
                        vm.answer = _.capitalize(response.data.answer);
                    })
                    .catch(function(error){
                        vm.answer = "error:" + error;
                    });
            }
        }
    });

    var data = {
        message:"hello world!",
        styleObject: {
            width: 200 + 'px',
            height: 100 + 'px',
            display: 'block',
            backgroundColor: "yellow",
            textAlign: "center",
        }
    }
    var app = new Vue({
        el:"#app",
        data: data,
        created:function(){
            console.log(this.message);
        },
        computed:{
            reverseMessage:function() {
                return this.message.split("").reverse().join("");
            }
        }
    });

    var app2 = new Vue({
        el:"#app-2",
        data:{
            message:new Date().toLocaleString(),
            isActive: true
        },
        computed: {
            classObject:function(){
                return {
                    active: this.isActive
                }
            }
        }
    });

    var app3 = new Vue({
        el:"#app-3",
        data:{
            seen: false
        }
    });

    var app4 = new Vue({
        el:"#app4",
        data:{
            todos:[
                {text:"1111"},
                {text:"22222"},
                {text:"33333"}
            ]
        }
    });

    var app5 = new Vue({
        el:"#app5",
        data:{
            message:"hello world!",
        },
        methods:{
            reverseMessage:function() {
                this.message = this.message.split("").reverse().join("");
            }
        }
    });

    var app6 = new Vue({
        el:"#app6",
        data:{
            message:"hello vue!"
        }
    });

    Vue.component("todo-item", {
        props:["todo"],
        template:'<li class="bar">{{todo.text}}</li>'
    });
    var app7 = new Vue({
        el:"#app7",
        data:{
            isBigSize:true,
            list:[
                {id:1, text:"aaaaa"},
                {id:2, text:"bbbbb"},
                {id:3, text:"ccccc"}
            ]
        }
    });
</script>
</body>
</html>